body {
    margin: 0;
    background-color: rgb(248, 219, 221);

}

:root {
    --cell-size: 120px;
    --mark-size: calc(var(--cell-size) * .8);
}
.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 1.28rem;
    text-align: left;
    position: fixed;
    top: 20px;
    left: 20px;
    border-bottom: 2px solid black;
    font-weight: 600;
}

/* hover game piece over board */
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;

    background-repeat: no-repeat;
    background-image: url("/images/orange.png");
    background-size: var(--mark-size) var(--mark-size);
    opacity: 0.5;
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after  {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;

    background-repeat: no-repeat;
    background-image: url("/images/white.png");
    background-size: var(--mark-size) var(--mark-size);
    opacity: 0.5;
}

/* display game pieces on board */

.cell.x::before,
.cell.x::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    background-image: url("/images/orange.png");
    background-repeat: no-repeat;
    background-size: var(--mark-size) var(--mark-size);
}

.cell.o::before,
.cell.o::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    background-image: url("/images/white.png");
    background-repeat: no-repeat;
    background-size: var(--mark-size) var(--mark-size);
}


/* remove outer border of grid (in game board) */

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

/* gameover message */

.gameoverElement {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(34, 35, 38, 0.8);
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Lora', serif;
    font-size: 2.4rem;
    flex-direction: column;
    text-align: center;
}

div.gameoverElement {
    flex: 1 1 0px;
}

div#gameover-text {
    padding: 20px 0 30px;
}

#gamover-popup {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
    max-height: 50%;
    width: 30%;
    border: 3px solid black;
    padding: 64px;
}

#gamover-popup p {
    color: black;
    margin: 0;
    font-style: italic;
}

.gameoverElement button {
    font-family: 'Lora', serif;
    font-size: 2.4rem;
    border-radius: 64px;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: .25em .5em;
    cursor: pointer;
}

.gameoverElement button:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.gameoverElement.show {
    display: flex;
}